body {
  background: gray;
  font-family: Courier;
}

.room_wrapper {
  margin: auto;
  width: 600px;
  background: black;
  color: white; 
  padding: 30px;
}

h1 {
  text-align:  center;
}

p {
  display: block;
  margin:auto;
  width:500px;
}

input {
  display: block;
  margin: auto;
  width: 500px;
  font-family: Courier;
  background: DimGray;
  color: white;
}

a, a:hover, a:active, a:visited { 
  align: center;
  color: white; 
}
